:root{
    --dark-blue: hsl(225, 17%, 14%);
    --med-blue: #161E37;
    --off-grey: rgb(99, 99, 99);
}


.page {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

body {
    margin: 0;
    background-color: var(--dark-blue);
    margin-left: 200px;
    margin-right: 200px;
    height: 100vh;
    overflow: hidden;
    font-family: 'Mukta', sans-serif;
}

.container {
    width: 600px
}

.splash {
    height: 100vh;
    width: inherit;
    font-weight: 600;
}

.overlay {
    top: 150px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.833);
    font-size: 3rem;
    color: white;
    padding: 30px;
}

.rightSplash {
    background-color: black;
    min-width: 700px;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    padding: 100px;

}

.item1 {
    flex-grow: 1;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column-reverse;
}

.item2 {
    flex-grow: 0;
} 

.formPar {
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: auto auto;
    row-gap: 10px;
    column-gap: 20px;
}

.item3 {
    flex-grow: 1;
}

.grid {
    background-color: white;
    border: 3px solid var(--off-grey);
}